.panel
  .panel-heading
    =link_to hotel.title, hotel_path(hotel)
  .panel-body
    - if hotel.photo?
      = image_tag hotel.photo.medium.url
    - else
      = image_tag 'default.png'
    = "#{hotel.breakfast_included} #{hotel.wifi_included}"
  .panel-footer
    = hotel.updated_at
  = link_to 'Редактировать', edit_hotel_path(hotel)