.review-form
  = simple_form_for @review do |f|
    = f.error_notification
    = f.hidden_field :rate_id
    %div
      = f.label :title, 'Заголовок'
      = f.input :title, required: true, autofocus: true, label: false

    %div
      = f.label :text, 'Текст отзыва'
      = f.input :text, as: :text, required: true, label: false,
                input_html: {rows: 5, cols: 75},
                placeholder: 'Опишите свои впечатления'
    %div
      = f.button :submit, 'Сохранить', class: 'btn'
