%header.navbar
  .container-fluid
    %nav.collapse.navbar-collapse
      #logo.navbar-header
        = link_to 'Hotel Advisor', root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav.navbar-right
        %li.right-line-border
          = link_to 'Главная', home_path
        %li.right-line-border
          = link_to 'Отели', hotels_path
        %li
          = link_to 'Новости', '#'
        - if user_signed_in?
          %li
            = link_to 'Profile', user_path(current_user)
          %li
            = link_to 'Settings', edit_user_registration_path(current_user)
          %li
            = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Войти', new_user_session_path,
                               class: 'btn', id: 'btn-login'
          %li
            = link_to 'Зарегистрироваться', new_user_registration_path,
                                            class: 'btn', id: 'btn-register'
