%header
  %nav
    = link_to 'Hotel Advisor v2', root_path
    %ul
      %li
        = link_to 'Home', home_path
      %li
        = link_to 'Hotels', '#'
      %li
        = link_to 'Help', help_path
      %li
        = link_to 'Sing in', '#'
