!!!
%html
  %head
    %title
      = full_title(yield :title)
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    = render 'layouts/header'

    = yield

    = render 'layouts/footer'

    .flash-messages
      - flash.each do |key, value|
        %div{class: "alert alert-#{key}", role: 'alert'}
          - case key
          - when 'success'
            %i.glyphicon.glyphicon-ok-sign
          - when 'danger'
            %i.glyphicon.glyphicon-remove-sign
          - when 'info'
            %i.glyphicon.glyphicon-info-sign
          - when 'warning'
            %i.glyphicon.glyphicon-question-sign
          = value

    = debug(params) if Rails.env.development?
